extends index

block content
  .page-logo
    img(src='/img/logo.png')

  .page-center
    .page-center-pad
      .page-container
        p.page-question Have you ever had an allergic reaction to any medication?
        .page-line
        textarea.form-control.page-textarea(rows="4", placeholder='I have allergic reactions to ...')
        .container.page-button-container
          .row
            .col-md-5
              button.btn.btn-block.btn-primary#back-button Back
            .col-md-5.col-md-offset-2
              button.btn.btn-block.btn-warning#next-button Go Recommender!

block js
  script(src="/js/allergy.js")