extends index

block content
  .page-logo
    img(src='/img/logo.png')

  .page-center
    .page-center-pad
      .page-container
        p.page-question What medication are you taking currently?
        .page-line
        textarea.form-control.page-textarea(rows="4", placeholder='I am taking ...')
        .container.page-button-container
          .row
            .col-md-5
              button.btn.btn-block.btn-primary#back-button Back
            .col-md-5.col-md-offset-2
              button.btn.btn-block.btn-success#next-button Next

block js
  script(src="/js/medication.js")